@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
$yellow: rgb(240, 165, 0);
$blue: rgb(51, 71, 86);
$dark-blue: rgb(8, 32, 50);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Hero section
#hero {
  .hero {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: 50px;
  }

  h1 {
    display: block;
    //animation ends where the word ends
    width: fit-content;
    position: relative;
    font-size: 4em;
    letter-spacing: 0.6em;
    line-height: 1.4em;
    text-transform: uppercase;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
    font-weight: 400;

    span {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      background-color: $yellow;
      animation: text_reveal_box 1s ease;
      animation-delay: 0.3s;
    }
  }

  h1:nth-child(1) {
    animation-delay: 1s;
  }

  h1:nth-child(2) {
    animation-delay: 2s;
  }

  h1:nth-child(1) span {
    animation-delay: 1s;
  }

  h1:nth-child(2) span {
    animation-delay: 2s;
  }

  .tickets-button {
    display: inline-block;
    padding: 10px 30px;
    color: $black;
    background-color: $yellow;
    border-radius: 12px;
    font-size: 140%;
    letter-spacing: 0.1em;
    margin-top: 30px;
  }
}

// Section break
.section-break {
  min-height: 25vh;
  width: 100%;
  background-color: rgba(240, 165, 0, 0.7);

  p {
    color: white;
    display: block;
    letter-spacing: 0.2em;
    line-height: 1.6em;
  }
}

// Gallery section
.image-grid {
  box-sizing: border-box;
  padding: 40px;

  display: grid;
  grid-auto-rows: 300px;
  gap: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.bg-white{
  background-color: $white;
}

// Section title
.section-title {
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

// History section
#history {

  p {
    line-height: 1.5em;
  }

  .history {
    max-width: 100%;
    padding: 100px 0;
    flex-direction: column;
  }

  .history-header {
    margin-bottom: 50px;
  }

  .history-item {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
  }

  .history-info {
    padding: 30px;
    background-image: linear-gradient(60deg, #ffcc00 50%, #fff0b3 100%);
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 10px;
  }

  span {
    color: $yellow;
  }
}

// Tickets section
#tickets {

  .tickets {
    margin: 0 auto;
    padding: 100px 0;
  }

  .tickets-item {
    width: 300px;
    height: 160px;
    padding: 30px;
    border-radius: 10px;
    background-color: $yellow;
    margin: 10px 5%;
    text-align: center;

    h2 {
      font-size: 1.5em;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    p {
      margin: 8px;
    }

    a {
      margin-top: 5px;
      text-transform: uppercase;
      color: $white;

      img {
        height: 15px;
      }
    }
  }
}

// Contact Form
#contact-form {
  box-sizing: border-box;

  align-items: center;
  padding: 20px 20px;

  .contact-form {
    margin: auto;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 $yellow;
    text-align: center;
  }

  .contact-map {
    width: 100%;
    height: 60vh;
    flex: 50%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .contact-item {
    height: auto;
    flex: 50%;
    padding: 30px;
  }

  h1 {
    margin-bottom: 10px;
    color: $yellow;
    font-size: 2.4rem;
  }

  p {
    margin-bottom: 10px;
  }

  #newsletter {
    margin-bottom: 15px;
  }

  .contact-form-txt {
    width: 100%;
    height: 40px;
    border: 1px solid $yellow;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
  }

  .contact-form-txtarea {
    width: 100%;
    height: 130px;
    border: 1px solid $yellow;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
  }
}

.contact-form-txt::placeholder {
  color: #aaa;
}

.contact-form-txtarea::placeholder {
  color: #aaa;
}

.contact-form-btn {
  width: 100px;
  border: none;
  outline: none;
  border-radius: 50px;
  background: $yellow;
  color: $white;
  padding: 10px 0;
  cursor: pointer;
}

// Footer
#footer {
  .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: $white;
  }

  h2 {
    color: $yellow;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    color: $white;
    font-size: 1.1rem;
  }

  .social-icon {
    display: flex;
    margin-bottom: 30px;
  }

  .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
  }
}

// Keyframes
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: $white;
  }
}

@media only screen and (max-width: 600px) {
  #hero {
    h1 {
      font-size: 2em;
    }
  }
  .section-break {
    p {
      margin-left: 2em;
    }
  }

  #history {
    p {
      line-height: 1em;
    }

    .history-item {
      width: fit-content;
      // height: fit-content;
    }
  }
}
